@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Normal-text : "Montserrat", sans-serif;
    --Fancy-text : "Playfair Display", serif;
    

    --white-color: white;
    --white-border-slim: 1px solid rgb(255, 255, 255);
    --white-border-thick: 2px solid rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    
}

.navigation {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation i , .navigation , .navigation button, .navigation input::placeholder{
    color: var(--white-color);
}

.navbar {
    display: flex;
    flex-direction: column;
    border-bottom: var(--white-border-thick);

    background-color: rgba(0, 0, 0, 0.45);
}

.first-bar , .second-bar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: var(--Normal-text);
    
    border-bottom: var(--white-border-slim);
   
}

/*First Nav Config*/

.first-bar {
    padding: 10px 60px 10px 60px;
}



.first-bar .right-actions {
    display: flex;
    flex-direction: row;
    
}

.search-bar {
    position: relative;
    height: 40px;
    max-width: 250px;
    width: 100%;

    background: transparent;
    
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--white-color);
    pointer-events: none; 
}

.search-bar input {
    
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 35px; /* Adjusted padding to make room for the icon */
    background-color: transparent;
}

.first-bar .right-actions {
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 40px;
    max-width: 250px;
    width: 100%;

    background: transparent;
    
    
}

.profile i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 19px;
    color: var(--white-color);
    pointer-events: none; 
}

.profile button {
    height: 100%;
    width: 100%;
    outline: none;

    font-size: 16px;
    font-weight: 400;

    border: none;
    padding: 0 20px 0 45px; 
    background-color: transparent;

    cursor: pointer;
}

.first-bar .right-actions .fa-solid.fa-bag-shopping {
    font-size: 35px;
}

.search-bar input textarea{
    color: #ffffff;
}

.search-bar input textarea:focus, .search-bar input:focus {
    color: #ffffff;
}


/* Second Nav*/

.second-bar {
    margin-bottom: 5px;
    align-items: center;
    padding: 0px 60px 0px 60px;
}

.logo {
    
    padding: 25px 20px 30px 20px;

    margin-bottom: 5px;
    font-size: 30px;
    border-left: var(--white-border-slim);
    border-right: var(--white-border-slim);
}

.second-bar .left-actions , .second-bar .right-actions {
    display: flex;
    flex-direction: row;
    
}

.second-bar .right-actions {
    font-size: 25px;
    gap: 30px;
}

.second-bar .left-actions button{
    padding: 20px 20px;
    background: transparent;
    cursor: pointer;
}

/*Section One*/

.parallax {
    
    
    position: relative;
    z-index: 0;
    height: 0;
    display: grid;
    grid-template-areas: "stack";
}

.parallax > * {
    
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

.parallax > img {
    width: 100%;
    height: 1000px;
    object-fit: cover; /* Ensures the image covers the container */
}

.parallax__bg {
    --parallax-speed: -1;
    z-index: 0;

}
.sect-one {
    
    position: relative;
    z-index: 4;
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.445);
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;
}

.moto {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    color: var(--white-color);
}

.moto .text-1 {
    font-family: var(--Normal-text);
}

.moto .text-2 {
    font-family: var(--Fancy-text);
}

.sect-one .button  button{

    margin-top: 20px;

    font-family: var(--Normal-text);
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}






/*Section Two*/
.sect-two {

    position: relative;
    z-index: 4;
    width: 100%;
    height: calc(80vh + 200px);
    background-color:rgb(255, 255, 255);

    display: grid;
    grid-template-rows: 20% 1fr 1fr;
}

.sect-two .heading  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;

    height: 250px;  
}

.sect-two-title {
    font-family: var(--Fancy-text);
    font-size: 40px;
    font-style: italic;

    width: 30%;
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}

.sect-two-title span { 
    background:#fff; 
    padding:0 60px; 
}

.sect-two .text-area {
    width: 500px;
}

.sect-two-desc {
    text-align: center;
    font-family: var(--Normal-text);
    font-size: 15px;
}

.sect-two .showcase {

    margin: 0px 60px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    gap: 40px;
}

.showcase .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    

    gap: 20px;
}

.showcase .item-display {
    background-color: gray;
    width: 100%;
    aspect-ratio: 1/1;
}

.item-desc .item-name {
    font-family: var(--Fancy-text);
    font-style: italic;
    font-size: 20px;
}

.item-desc .item-price {
    font-family: var(--Normal-text);
    font-size: 15px;
}



.sect-two .button {
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
}

.sect-two .button button {
    

    font-family: var(--Normal-text);
    padding: 10px 30px;
    background-color: black;
    
    color: var(--white-color);
}

/*Section Three*/

.sect-three {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 400px;

    background-color:rgba(0, 0, 0, 0.445);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-three p {
    font-family: var(--Fancy-text);
    font-style: italic;
    font-size: 40px;
    color: var(--white-color);
}
.parallax__bg2 {
    position: relative;
    bottom: 200px;
    --parallax-speed: 1;
    z-index: 2;
    height: 100%;
}



/*Section-four*/

.sect-four {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 400px;

    background-color: rgb(21, 21, 26);
}

.sect-four .slide-container {
    display: grid;
    grid-template-areas: 'stack';
    overflow: hidden;
    height: 100%;
    
}

.slide-container * {
    grid-area: stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    animation: 30s;
    animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

    position: relative;
    width: 100%;
}
.slide-container .text-area {
    width: 600px;
}

.sect-four p {
    text-align: center;
    color: white;
    font-family: var(--Fancy-text);
    font-style: italic;
}

.slide-container .slide-1 {
    animation-name: anim-1;
}
.slide-container .slide-2 {
    animation-name: anim-2;
}
.slide-container .slide-3 {
    animation-name: anim-3;
}

.slide-container .test-desc {
    font-size: 20px;
    font-weight: 300;
}

.slide-container .author {
    font-family: var(--Normal-text);
    font-style: italic;
}
/*Section-five*/

.sect-five {
    
    position: relative;
    z-index: 4;

    width: 100%;
    height: 440px;

    background-color: rgb(238, 238, 238);
    
    display: flex;
    
    align-items: center;
    justify-content: center;

    border-bottom: 2px solid black;
    
}

.sect-five .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 50px;
    padding: 55px 0px;
    border-bottom: 1px solid black;
}

.sect-five .treemap-nav {
    
    display: grid;
    grid-template-columns: auto repeat(2,1fr);
    width: 1000px;
    
    gap: 150px;
}

.bottom-nav {
    grid-column: 1/2;
    
}

.bottom-nav, .help-nav, .social-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 40px;
}

.navlist {
    display: flex;
    flex-direction: column;

    gap: 9px;
}

.navlist li button {
    font-size: 15px;
}

.nav-title p {
    font-family: var(--Fancy-text);
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
}

.sect-five ul{
    list-style-type: none;
}
.help-nav {
    grid-column: 2/3;
}

.help-nav .title-container, .social-nav .title-container {
    padding: 25px 0px;

    border-bottom: 1px solid #000000;
}

.help-nav .title-container p, .social-nav .title-container p{
    font-family: var(--Fancy-text);
    font-style: italic;
    font-size: 22px;
}
.social-nav {
    grid-column: 3/4;
}

.extra-info {
    width: 1000px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
}

.extra-info .sub-bar {
    position: relative;
    height: 50px;
    max-width: 450px;
    width: 800px;
    border: 1px solid #000000;
    background: transparent;
}

.extra-info .sub-bar input {
    
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 15px; /* Adjusted padding to make room for the icon */
    background-color: transparent;
}

.sub-bar input textarea,  .sub-bar input::placeholder{
    font-family: var(--Normal-text);
    color: #000000;
}

.sub-bar input textarea:focus, .sub-bar input:focus {
    color: #000000;
}
.location {
    width: 300px;
}

.newsletter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.newsletter button {
    padding: 12px 24px;
    background-color: #000;
    color: white;
}

.footer {
    position: relative;
    z-index: 4;
    height: 80px;
    width: 100%;

    background-color:rgb(238, 238, 238);

}

/*Animation Frame*/
@keyframes parallax {
    to {
      transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 0%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 0%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 0%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}




/*Configuring Tab switching through JS*/

.hidden {
    display: none;
}

