@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --Normal-text : "Montserrat", sans-serif;
    

    --white-color: white;
    --white-border-slim: 1px solid rgb(255, 255, 255);
    --white-border-thick: 2px solid rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    
}

.navigation {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation i , .navigation , .navigation button, .navigation input::placeholder{
    color: var(--white-color);
}

.navbar {
    display: flex;
    flex-direction: column;
    border-bottom: var(--white-border-thick);

    background-color: rgba(0, 0, 0, 0.45);
}

.first-bar , .second-bar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: var(--Normal-text);
    
    border-bottom: var(--white-border-slim);
   
}

/*First Nav Config*/

.first-bar {
    padding: 10px 60px 10px 60px;
}



.first-bar .right-actions {
    display: flex;
    flex-direction: row;
    
}

.search-bar {
    position: relative;
    height: 40px;
    max-width: 250px;
    width: 100%;

    background: transparent;
    
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    color: var(--white-color);
    pointer-events: none; 
}

.search-bar input {
    
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    border: none;
    padding: 0 20px 0 35px; /* Adjusted padding to make room for the icon */
    background-color: transparent;
}

.first-bar .right-actions {
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 40px;
    max-width: 250px;
    width: 100%;

    background: transparent;
    
    
}

.profile i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 19px;
    color: var(--white-color);
    pointer-events: none; 
}

.profile button {
    height: 100%;
    width: 100%;
    outline: none;

    font-size: 16px;
    font-weight: 400;

    border: none;
    padding: 0 20px 0 45px; 
    background-color: transparent;

    cursor: pointer;
}

.first-bar .right-actions .fa-solid.fa-bag-shopping {
    font-size: 35px;
}


/* Second Nav*/

.second-bar {
    margin-bottom: 5px;
    align-items: center;
    padding: 0px 60px 0px 60px;
}

.logo {
    
    padding: 25px 20px 30px 20px;

    margin-bottom: 5px;
    font-size: 30px;
    border-left: var(--white-border-slim);
    border-right: var(--white-border-slim);
}

.second-bar .left-actions , .second-bar .right-actions {
    display: flex;
    flex-direction: row;
    
}

.second-bar .right-actions {
    font-size: 25px;
    gap: 30px;
}

.second-bar .left-actions button{
    padding: 20px 20px;
    background: transparent;
    cursor: pointer;
}

/*Section One*/

.parallax {
    
    
    position: relative;
    z-index: 0;
    height: 0;
    display: grid;
    grid-template-areas: "stack";
}

.parallax > * {
    
    grid-area: stack;
    animation: parallax linear;
    animation-timeline: scroll();
}

.parallax > img {
    width: 100%;
    height: 900px;
    object-fit: cover; /* Ensures the image covers the container */
}

.parallax__bg {
    --parallax-speed: 1;
    z-index: 0;

}
.sect-one {
    
    position: relative;
    z-index: 4;
    width: 100%;
    height: 65vh;
    background-color: rgba(0, 255, 255, 0.096);
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
}

 

@keyframes parallax {
    to {
      transform: translateY(calc(var(--parallax-speed) * 200px));
    }
}




/*Section Two*/
.sect-two {

    position: relative;
    z-index: 4;
    width: 100%;
    height: 800px;
    background-color:rgb(127, 255, 148);
}

/*Section Three*/

.sect-three {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 400px;

    background-color: rgba(0, 255, 255, 0.329);
}
.parallax__bg2 {
    --parallax-speed: -1;
    z-index: 2;
    height: 100%;
}

/*Section-four*/

.sect-four {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 400px;

    background-color: rgb(27, 27, 43);
}

/*Section-five*/

.sect-five {
    position: relative;
    z-index: 4;

    width: 100%;
    height: 500px;

    background-color: rgb(150, 150, 150);
}